#content { }

#colophon {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.post-inner {
  border-top: solid 1px lightgray;
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  width: 600px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.post-buttom {
  width: 600px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: solid 1px green;
  border-right: solid 1px green;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  background-color: green;
  margin-bottom: 15px;
}

.entry-author {
  display: inline-flex;
}

.entry-author-info {
  margin-left: 10px;
}

.entry-meta,
.entry-summary,
.entry-content,
.entry-header {
}

body {
  margin: 0px;
}

img {
  border-radius: 25px;
}

a {
  color: black;
  text-decoration: none;
}
